<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shapeshift.trickyturns"
    android:installLocation="auto"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        xmlns:tools="http://schemas.android.com/tools"
        android:minSdkVersion="14"
        android:targetSdkVersion="28"
        tools:overrideLibrary="android.support.customtabs" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:name="android.support.multidex.MultiDexApplication"
        android:hasCode="true"
        android:icon="@drawable/icon"
        android:label="Tricky Turns" >
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <activity
            android:name="com.dynamo.android.DefoldActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Tricky Turns"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="TrickyTurns" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- For defold-sharing extension -->
        <provider
            android:name="com.britzl.defold.sharing.SharingFileProvider"
            android:authorities="com.shapeshift.trickyturns.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6870384215844529~2526536312" /> <!-- For IAP -->
        <activity
            android:name="com.defold.iap.IapGooglePlayActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="IAP"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity> <!-- For Amazon IAP -->
        <receiver android:name="com.amazon.device.iap.ResponseReceiver" >
            <intent-filter>
                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY"
                    android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY" />
            </intent-filter>
        </receiver> <!-- Include the AdActivity and InAppPurchaseActivity configChanges and themes. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="com.shapeshift.trickyturns.mobileadsinitprovider"
            android:exported="false"
            android:initOrder="100" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest> <!-- END_INCLUDE(manifest) -->
